body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: white repeat-x top url(header-bg.png);
	margin: 0px;
}
td, th {
	vertical-align: top;
}
td.middle {
	vertical-align: middle;
}
tr.spacer {
	height: 0.8em;
}
div.body {
	padding: 0 10px;
}
li {
	list-style-image: url(bullet.png);
}
dt {
	font-weight: bold;
}